<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/index.php/index/Index/programlist" method="get">
    <input type="text" name="p_name" id="" placeholder="节目名称" value="<?php echo $arr[0]['p_name'] ;?>">
    <input type="submit" value="搜索">
</form>
<table border="1">
    <tr>
        <td>节目编号</td>
        <td>节目名称</td>
        <td>节目封面</td>
        <td>节目类型</td>
        <td>参与人员</td>
        <td>节目状态</td>
        <td>操作</td>
    </tr>
    <?php foreach($arr as $k=>$v){ ?>
    <tr>
        <td><?php echo $v['p_id'] ;?></td>
        <td><?php echo $v['p_name'] ;?></td>
        <td><img src="<?php echo'/'.$v['p_img'] ;?>" width="80" height="80" alt=""  ></td>
        <td><?php echo $v['p_type'] ;?></td>
        <td><?php echo $v['p_man'] ;?></td>
        <td>
            <?php if($v['p_status']==1){ echo"待审核";}else
            if($v['p_status']==2){ echo"审核中";}else
            if($v['p_status']==3){ echo"已通过";}else
            if($v['p_status']==4){ echo"未通过";}
?>

        </td>
        <td>
            <a href="delete?p_id=<?php echo $v['p_id'] ;?>">删除</a>
            <a href="edit?p_id=<?php echo $v['p_id'] ;?>">编辑</a>
        </td>
    </tr>
    <?php } ?>
</table>
<?php echo $str ;?>
</body>
</html>