<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>欢迎注册</h1>
<form action="/index.php/index/Register/save" method="post">
    <table border="1">
        <tr>
            <td>用户名</td>
            <td><input type="text" name="username" id=""></td>
        </tr>
        <tr>
            <td>密码</td>
            <td><input type="text" name="pwd" id=""></td>
        </tr>
        <tr>
            <td><input type="submit" value="注册"></td>
            <td></td>
        </tr>
    </table>
</form>
</body>
</html>