<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/index.php?s=user/Index/changepassdo" method="post">
    <table border="1">
        <tr>
            <td>原密码</td>
            <td><input type="text" name="pass" id=""></td>
        </tr>
        <tr>
            <td>新密码</td>
            <td><input type="text" name="newpass" id=""></td>
        </tr>
        <tr>
            <td>确认新密码</td>
            <td><input type="text" name="newpassdo" id=""></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="确认提交">
            </td>
            <td></td>
        </tr>
    </table>
</form>



</body>
</html>