<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="index.php?s=user/Index/toupiaodo"  method="post" >
    <table>
        <tr>
            <h3>关于今天晚饭吃什么统计表</h3>
        </tr>
        <tr>
            <td>选项</td>
            <td>
                <input type="radio" name="food" id="" value="1" >A.西红柿 <br>
                <input type="radio" name="food" id="" value="2" >B.茄子 <br>
                <input type="radio" name="food" id="" value="3" >C.土豆 <br>
                <input type="radio" name="food" id="" value="4" >D.洋葱
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="提交"></td>
            <td></td>
        </tr>
    </table>
</form>
</body>
</html>