<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<h1>第四节课</h1>-->
<form action="/index.php/index/Index/save" method="post">
    <table>
        <tr>
            <td>用户姓名</td>
            <td><input type="text" name="username" id=""></td>
        </tr>
        <tr>
            <td>手机号</td>
            <td><input type="text" name="tel" id=""></td>
        </tr>
        <tr>
            <td>年龄</td>
            <td><input type="text" name="age" id=""></td>
        </tr>
        <tr>
            <td>身高</td>
            <td><input type="text" name="height" id=""></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="提交"></td>
        </tr>
    </table>
</form> 
</body>
</html>