<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> 后台管理员登录系统</h1>
<form action="index.php?s=admin/Index/logindo" method="post">
    <table border="1">
        <tr>
            <td>用户名</td>
            <td><input type="text" name="user_name" id=""></td>
        </tr>
        <tr>
            <td>密码</td>
            <td><input type="password" name="pass" id=""></td>
        </tr>
        <tr>
            <td><input type="submit" value="登录"></td>
            <td></td>
        </tr>
    </table>
</form>
</body>
</html>